@{
    ViewBag.Title = "Historique";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="/Scripts/site.js"></script>
    <title>HighStock example</title>

    <script type="text/javascript">
        $(document).ready(function () {
            chartInitialize("stockChart", '@Url.Action("GetSerie", "Home", new { name = "Test"} ) ');
        });
    </script>
</head>
<body>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>Générer les graphes</p>


<label>
    <input type="checkbox" id="SP500" value="choixSousJacent" />S&P500(USD)
    <br />
    <input type="checkbox" id="EuroStoxx500" value="choixSousJacent" />Eur Stoxx 50(EUR)
    <br />
    <input type="checkbox" id="Nikkei225" value="choixSousJacent" />Nikkei 225(JPY)
    <br />
    <input type="checkbox" id="HangSeng" value="choixSousJacent" />Hang Seng(HKD)
    <br />
    <input type="checkbox" id="FTSE100" value="choixSousJacent" />FTSE 100(GBP)
    <br />
    <input type="checkbox" id="SPASX200" value="choixSousJacent" />SP ASX 200(AUD)
    <br />
    <input type="checkbox" id="USDEUR" value="choixSousJacent" />USD->EUR
    <br />
    <input type="checkbox" id="GBPEUR" value="choixSousJacent" />GBP -> EUR
    <br />
    <input type="checkbox" id="JPYEUR" value="choixSousJacent" />JPY -> EUR
    <br />
    <input type="checkbox" id="CNYEUR" value="choixSousJacent" />HKD -> EUR
    <br />
    <input type="checkbox" id="AUDEUR" value="choixSousJacent" />AUD -> EUR

</label>

<div id="stockChart" style="height: 550px"></div>
</body>

</html>