@{
    ViewBag.Title = "Pricer";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<p>
Pour pricer le produit, vous devez d'abord préciser la date du début du pricing puis appuyer sur le bouton Pricer.
</p>

    <form>
        Veuillez donner la date de début de pricing
        <input type="date" name="PricingDate" max="2021-01-01"><br>
    </form>

<div class="price">
    <button id="boutonPrice" type="button">Pricer</button> 
    <div class="affiche" style="visibility: hidden">86.56</div>
</div>
<script type="text/javascript" charset="utf-8">
    function price() {
        $(document).find("div.price").children()[1].style.visibility = "visible"
    }

    function initialize() {
        document.getElementById("boutonPrice").addEventListener("click", price, false);
    }

    window.addEventListener("load", initialize, false);
</script>
